# Ignore Gradle project-specific cache directory
.gradle
.idea
# Ignore Gradle build output directory
build
adeline
.project
.settings
app/.classpath
app/.settings
app/bin
.idea
Form35
CartApplication/
myNew_Application/
